extends ./layout_admin.pug

block contenido-int
    div(class="conteiner-padding")
        div(class="row")
            div(class="col-sm-4")
                div(class="thumbnail")
                    a(href="/admin/bebidas")
                        img(src="/img/bebidas icono.png" alt="bebidas" style="width:100%")
                        div(class="caption")
                            p Administracion de bebidas
            div(class="col-sm-4")
                div(class="thumbnail")
                    a(href="#")
                        img(src="/img/usuario icono.png" alt="usuarios" style="width:100%")
                        div(class="caption")
                            p Administracion de Usuarios
            div(class="col-sm-4")
                div(class="thumbnail")
                    a(href="#")
                        img(src="/img/tools icono.png" alt="herramientas" style="width:100%")
                        div(class="caption")
                            p Herramientas    
               
           

