extends ./layout_admin.pug

block contenido-int
    div(class="conteiner-padding")
        div(class="row")
            div(class="col-sm-4")
                div(class="thumbnail")
                    a(href="/admin/bebidas/new")
                        img(src="/img/bebidas icono.png" alt="Moustiers Sainte Marie" style="width:100%")
                        div(class="caption")
                            p Lorem ipsum donec id elit non mi porta gravida at eget metus
            div(class="col-sm-4")
                div(class="thumbnail")
                    a(href="#")
                        img(src="/img/usuario icono.png" alt="Moustiers Sainte Marie" style="width:100%")
                        div(class="caption")
                            p Lorem ipsum donec id elit non mi porta gravida at eget metus
            div(class="col-sm-4")
                div(class="thumbnail")
                    a(href="#")
                        img(src="/img/tools icono.png" alt="Moustiers Sainte Marie" style="width:100%")
                        div(class="caption")
                            p Lorem ipsum donec id elit non mi porta gravida at eget metus    
               
           

