extends ./layout.pug

block contenido-sup
  div(class="container banner")
    h3 Bebidas Don Alberto
    p Compra las mejores bedidas, alquila un a los mejores barman o solicita la cocteleria para tu fiesta
    p Don Alberto calidad y confianza

  



