doctype html
html(lang='en')
  head
    title= pageTitle
    script(type='text/javascript').
  body
   h1 Hola Pug
   -var arreglo = ["cristian", "jose"]
   for a in arreglo
    p manzana de noche #{a}
