doctype html
html(lang="en")
 head
  title Bebidas Don Arnoldo
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  link(rel="stylesheet" href="/css/mystyle.css")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
  script(src="/js/my.js")
body
 nav(class="navbar navbar-inverse")
  div(class="container-fluid")
   div(class="navbar-header")
    a(class="navbar-brand" href="#") Bebidas Don Arnoldo
    button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar")
        span(class="icon-bar")
        span(class="icon-bar")
        span(class="icon-bar")                        
   div(class="collapse navbar-collapse" id="myNavbar")
    
    ul(class="nav navbar-nav")
      li
        a(href="#") Home
      li(class="dropdown")
        a(class="dropdown-toggle" data-toggle="dropdown" href="#") Contrataciones 
          span(class="caret")
        ul(class="dropdown-menu")
          li
            a(href="#") Comprar Bebidas
          li
            a(href="#") Contrataciones de Barmans
          li
            a(href="#") Servicio de cocteleria.
      li
        a(href="/users/register") Registrarse    
    ul(class="nav navbar-nav navbar-right")
      li
        a(href="#")
          span(class="glyphicon glyphicon-user") Sign Up
      li
        a(href="/users/login")
          span(class="glyphicon glyphicon-log-in") Login


block contenido-sup
div(class="container-fluid text-center")    
  div(class="row content")
    div(class="col-sm-2 sidenav")
    
    div(class="col-sm-8 text-left") 
      block contenido-int
    div(class="col-sm-2 sidenav")  
       
  
footer(class="navbar-fixed-bottom text-center")
   p Telefono: 999-999-999    Tweeter: @BedidasDonAlberto
   p All Right Reserved


