extends ../layout_admin_for_crud.pug
         
block contenido-int   
    div(class="conteiner-padding")    
        div(class="row")     
            each item in bebidas          
                div(class="col-sm-4 ")
                    div(class="thumbnail")                                   
                        img(src="/imgUpload/"+item._id+"."+item.fotoExtension
                        alt="Bebidas" class="img-responsive img-thumbnail")
                        div(class="caption")
                            h5 Nombre:#{item.nombre}
                            h5 Precio:$#{item.precio}
                            - var url1="/admin/bebidas/"+item._id+"/edit"
                            - var url2="/admin/bebidas/"+item._id+"/?_method=DELETE"
                            a(href= url1 class="right-space") Editar   
                            form(action=url2 method="POST" class="linkeable")
                                input(type="submit" value="Eliminar")
    div(class="margen-fin")
